# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
*.p8

# Database
*.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
